<h3>Welcome, <%= current_user.username %>!</h3>

<% if !@tweets.empty? %>
  
  Your Tweets:
  <ul>
  <% @tweets.each do |tweet| %>
    <div>
      <li><h4><%= tweet.content %></h4></li>
    </div>
  <% end %>
  </ul>
  
  <form method="GET" action="/tweets/new">
  <input type="submit" value="Create a New Tweet" />
  </form> <br>
  
<% else %>
  
  <h2><%= current_user.username %>, you haven't made any Tweets yet</h2>
  <form method="GET" action="/tweets/new">
  <input type="submit" value="Create a New Tweet" />
  </form>
  
  <% end %>